%h1= @article.title
%small= "Published on: #{@article.created_at.strftime("%A %B %e")}"
%hr
%p= @article.content
%br/
= link_to "Back", root_path, class: "btn btn-sm btn-default"
= link_to "Edit", edit_article_path, class: "btn btn-sm btn-default"
= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-sm btn-default"
.pull-right
  = link_to like_article_path(@article), method: :put, class: "btn btn-sm btn-default" do
    %span.glyphicon.glyphicon-heart
      = @article.get_upvotes.size
%hr
%h3 Comments

-if user_signed_in?
  .form-group
    .form-input
      = simple_form_for([@article, Comment.new]) do |f|
        = f.input :body, input_html: {class: "form-control"}
        %br
        = f.button :submit
%hr
.comments
  =render :partial => @article.comments
